li {padding: 2px 0 0 0;list-style: none;}
.error {background: url(error.png) no-repeat;padding: 2px 0 0 20px;list-style: none;}
div.channeltitle {clear: both;font-weight: bold;font-size: 24px;width: 100%;}